@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body, html{
  font-family: 'Poppins', sans-serif;;
  font-weight: 400;
}
label{
  color: #495057;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
min-height: 100vh;
margin-left: -15rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.865rem 1.25rem;
  font-size: 1.2rem;
  font-weight: 500;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#sidebar-wrapper .list-group .admin .admin-a{
  padding-top: 6px;
  color: #343a40;
  font-size: 14px;
  font-weight: 600;
}
#sidebar-wrapper .list-group .admin-span span{
  /* padding-top: 6px; */
  color: #adb5bd;
  font-size: 14px;
  font-weight: 500;
}
#sidebar-wrapper .list-group .admin-span #admin-i{
  /* padding-top: 6px; */
  color:green;
  font-size: 10px;
  margin-right: 2px;
  padding-bottom: 2px;
}

#sidebar-wrapper .list-group a:hover {
  font-weight: 500;
}

/* icon navbar */
#sidebar-wrapper .list-group .dash{
  color:#023047;
}
#sidebar-wrapper .list-group .absensi{
  color:#06d6a0;
}
#sidebar-wrapper .list-group .pengguna{
  color:#fb8500;
}
#sidebar-wrapper .list-group .siswa{
  color: #920909;
}
#sidebar-wrapper .list-group .guru{
  color: #006d77;
}
#sidebar-wrapper .list-group .kelas{
  color: #ffb703;
}
#sidebar-wrapper .list-group .mapel{
  color: #5a189a;
}
#sidebar-wrapper .list-group .laporan{
  color: #1b4332;
}
/* end icon nav */

#page-content-wrapper {
min-width: 100vw;
}
#page-content-wrapper .li-dash{
  color: #495057;
}
#page-content-wrapper .li-dash a{
  color: #495057;
  font-weight: 500;
}
#page-content-wrapper .li-dash a:hover{
  color: #212529;
  font-weight: 500;
  text-decoration: none;
}
#page-content-wrapper p{
  color:#6c757d;
}
#page-content-wrapper .icon-style {
  font-size:3em; 
  color:#e9ecef;
}
/* absensi */
#page-content-wrapper .absen{
  border-left: 3px solid #06d6a0;
}
#page-content-wrapper .absen h3 {
  color:#06d6a0;
  font-weight: 600;
}
#page-content-wrapper .absen a {
  color:#495057;
  text-decoration: none;
}
#page-content-wrapper .absen a:hover {
  color:#06d6a0;
  text-decoration: none;
}
/* end */

/* siswa */
#page-content-wrapper .siswa{
  border-left: 3px solid #920909;;
}
#page-content-wrapper .siswa h3 {
  color:#920909;
  font-weight: 600;
}
#page-content-wrapper .siswa a {
  color:#495057;
  text-decoration: none;
}
#page-content-wrapper .siswa a:hover {
  color:#920909;
  text-decoration: none;
}
/* end */
/* guru */
#page-content-wrapper .guru{
  border-left: 3px solid #006d77;;
}
#page-content-wrapper .guru h3 {
  color:#006d77;
  font-weight: 600;
}
#page-content-wrapper .guru a {
  color:#495057;
  text-decoration: none;
}
#page-content-wrapper .guru a:hover {
  color:#006d77;
  text-decoration: none;
}

/* end */
/* kelas */
#page-content-wrapper .kelas{
  border-left: 3px solid #ffb703;
}
#page-content-wrapper .kelas h3 {
  color:#ffb703;
  font-weight: 600;
}
#page-content-wrapper .kelas a {
  color:#495057;
  text-decoration: none;
}
#page-content-wrapper .kelas a:hover {
  color:#ffb703;
  text-decoration: none;
}
/* end */

/* mapel */
#page-content-wrapper .mapel{
  border-left: 3px solid #5a189a;
}
#page-content-wrapper .mapel h3 {
  color:#5a189a;;
  font-weight: 600;
}
#page-content-wrapper .mapel a {
  color:#495057;
  text-decoration: none;
}
#page-content-wrapper .mapel a:hover {
  color:#5a189a;
  text-decoration: none;
}
/* end */

/* laporan */
#page-content-wrapper .laporan{
  border-left: 3px solid #1b4332;
}
#page-content-wrapper .laporan h3 {
  color:#1b4332;
  font-weight: 600;
}
#page-content-wrapper .laporan a {
  color:#495057;
  text-decoration: none;
}
#page-content-wrapper .laporan a:hover {
  color:#1b4332;;
  text-decoration: none;
}
/* end */

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}
}